<div class="col-xs-12">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 ng-show="test.isNew" class="panel-title">Create test</h2>
        <h2 ng-show="!test.isNew" class="panel-title">Edit test</h2>
    </div>
    
    <form class="form-horizontal">
        <br>
        <fieldset>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="id">Id</label>
                <div class="col-xs-3">
                    <input class="form-control" id="id" type="text"disabled="" ng-model="test.id">
                </div>

                <div class="col-xs-2" style="padding-top: 10px;">
                    <a href="" ng-click="deleteTest()" class="text-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete test
                    </a>
                </div>
            </div>

            <div class="form-group">
                <label for="testName" class="col-xs-2 control-label">Test name</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" id="testName" required ng-model="test.name">
                </div>
            </div>
            
            <div class="form-group">
                <label for="testType" class="col-xs-2 control-label">Test type</label>
                <div class="col-lg-3">
                    <select class="form-control" id="testType" required ng-options="type.value as type.label for type in testTypes" ng-model="test.type">
                    </select>
                </div>
            </div>
            
            <div class="form-group" ng-controller="DatePickerController">
                <label class="col-xs-2 control-label">Start date</label>
                <div class="col-xs-3" >
                    <input type="text" class="form-control"  datepicker-popup="dd.MM.yyyy" ng-model="$parent.test.startDate" is-open="status.opened" />
                </div>
                <div style="padding-top: 10px;">
                     <a href="" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i> Select date</a>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">Start time</label>
                <div class="col-xs-4">
                    <timepicker ng-model="test.startTime" show-meridian="false"></timepicker>
                </div>
            </div>

            <div class="form-group" ng-controller="DatePickerController">
                <label class="col-xs-2 control-label">End date</label>
                <div class="col-xs-3" >
                    <input type="text" class="form-control"  datepicker-popup="dd.MM.yyyy" ng-model="$parent.test.endDate" is-open="status.opened" />
                </div>
                <div style="padding-top: 10px;">
                    <a href="" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i> Select date</a>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">End time</label>
                <div class="col-xs-4">
                    <timepicker ng-model="test.endTime" show-meridian="false"></timepicker>
                </div>
            </div>
            
            <div class="form-group">
                <label for="duration" class="col-xs-2 control-label">Duration</label>
                <div class="col-lg-3">
                    <input type="number" class="form-control" id="duration" required min="0" ng-model="test.duration">
                </div>
            </div>
            
            <div class="form-group">
                <label for="password" class="col-xs-2 control-label">Password</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" id="duration" required ng-model="test.password">
                </div>
            </div>
            
        </fieldset>
    </form>
    
</div>

<form class="form-horizontal">
    
    <fieldset>

        <div class="jumbotron" ng-repeat="question in test.questions">
      
            <div class="form-group">
                <label class="col-xs-2 control-label">Question text</label>
                <div class="col-xs-8">
                    <input class="form-control" type="text" ng-model="question.text" required>
                </div>
                <div class="col-xs-2 col-md-offset-0" style="padding: 0; padding-top: 10px;">
                    <a href="" class="text-danger" ng-click="deleteQuestion(question);">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete question
                    </a>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">Question type</label>
                    <div class="col-xs-5">
                        <select class="form-control" ng-options="type.value as type.label for type in questionTypes" 
                                ng-model="question.type" ng-change="questionTypeChanged(question)" required>
                    </select>
                    </div>
            </div>
            
            <question-answers-directive></question-answers-directive>
            
    </fieldset>
</form>
    
<div class="well">
    <a href="" ng-click="addQuestion();"><span class="glyphicon glyphicon-plus"></span> Add new question</a>
</div>
    
<div class="well">
    <a ng-click="submit()" class="btn btn-success">Save</a>
    <a href="javascript:void(0)" class="btn btn-danger">Cancel</a>
</div>
</div>
    
<script>
    $(document).ready(function() {
        // This command is used to initialize some elements and make them work properly
        $.material.init();
    });
</script>